<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC60okdbnUG_FVps0D-ayJcnOIHMLTSxbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>531413877779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmMessaging</string>
	<key>PROJECT_ID</key>
	<string>fcmmessaging-a910a</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmmessaging-a910a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531413877779:ios:514a2d26808710563aebe6</string>
</dict>
</plist>